.pagination-wrapper {
  background: #f9f9f9; /* Ίδιο background με τα πλαίσια των τεστ */
  border-radius: 30px; /* Ίδιο border-radius με τα πλαίσια των τεστ */
  padding: 10px; /* Ίδιο padding με τα πλαίσια των τεστ */
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Ίδιο εφέ transition */
}

.pagination-wrapper:hover {
  transform: scale(1.02); /* Ίδιο εφέ hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background-color: #e8e9ea;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0 20px;
}

.pagination-link {
  padding: 8px 16px;
  background: #f9f9f9;
  border-radius: 5px;
  text-decoration: none;
  color: #143B64;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none;
  cursor: pointer;
}

.pagination-link:hover {
  background: #e6f0fa;
  color: #21aabc;
}

.pagination-link.active {
  background: #21aabc;
  color: white;
}

/* Responsive Προσαρμογές */
@media (max-width: 768px) {
  .pagination-wrapper {
    padding: 10px; /* Διατηρώ το padding για μικρότερες οθόνες */
  }

  .pagination-link {
    padding: 6px 12px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .pagination-link {
    padding: 5px 10px;
    font-size: 12px;
  }
}